In [2]:
import pandas as pd
import numpy as np
series=pd.Series([1,2,3])
print(series)
print(type(series))

0    1
1    2
2    3
dtype: int64
<class 'pandas.core.series.Series'>

In [10]:
import pandas as pd
import numpy as np
series1=pd.Series(['as','df','vv'])
print(series1)
print(type(series1))

0    as
1    df
2    vv
dtype: object
<class 'pandas.core.series.Series'>

In [6]:
series=pd.date_range(start = "26-9-2019" ,end = "26-9-2019")
print(series)
print(type(series))

DatetimeIndex(['2019-09-26'], dtype='datetime64[ns]', freq='D')
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [12]:
series1[2]

'vv'

In [14]:
series1[1:]

1    df
2    vv
dtype: object

In [17]:
series1[[0,2]]

0    as
2    vv
dtype: object

In [19]:
pd.Series([0,1,2,3,4],index=["a","b","v","c","l"])

a    0
b    1
v    2
c    3
l    4
dtype: int64

In [20]:
pd.Series([1,2,3],index=pd.date_range('22-11-2018','24-11-2018'))

2018-11-22    1
2018-11-23    2
2018-11-24    3
Freq: D, dtype: int64

In [23]:
pd.Series(np.array(range(0,10))**2,index=range(0,10))

0     0
1     1
2     4
3     9
4    16
5    25
6    36
7    49
8    64
9    81
dtype: int32

In [24]:
df = pd.DataFrame({'name': ['Vinay', 'Kushal', 'Aman', 'Saif'], 
                   'age': [22, 25, 24, 28], 
                    'occupation': ['engineer', 'doctor', 'data analyst', 'teacher']})
df

     name  age    occupation
0   Vinay   22      engineer
1  Kushal   25        doctor
2    Aman   24  data analyst
3    Saif   28       teacher